
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    padding: 32px;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

input {
    outline: none;
    border: none;
}

button {
    cursor: pointer;
}

.row {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.hover {
    transition: all 300ms ease;
}

.hover:hover {
    transform: scale(1.1);
}

/* LANDING PAGE */

/* NAVBAR */

.nav__container {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    display: flex;
}

.nav__link--list {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
}

.nav__link {
    margin: 0 12px;
}

.nav__link--anchor {
    color: #212529;
    font-weight: 500;
    font-size: 18px;
}

.logo__container--title {
    color: #212529;
    font-weight: 500;
    font-size: 24px;
}

/* HEADER */

.header__container {
    width: 100%;
    padding: 96px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.header__description {
    text-align: center;
    width: 100%;
}

.header__description--title {
    font-weight: 500;
    font-size: 36px;
}

.header__description--subtitle {
    margin: 18px 0;
    font-weight: 300;
    font-size: 20px;
}

.header__description--cta {
    margin: 8px 0;
    border-radius: 50px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    background-color: black;
    padding: 18px 32px;
    outline: none;
    border: none;
}

.header__image--container {
    justify-content: center;
    display: flex;
    width: 100%;
}

.header__image--wrapper {
    margin: 96px 0;
}

.header__description--form {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.header__description--input {
    max-width: 500px;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    font-weight: 500;
    border-radius: 9999px;
    margin: 12px 0;
    border: 2px solid #343a40;
}

/* MOVIES */

.movies__container {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.movies__description {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 64px;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
}

.movies__description--search-results {
    align-items: center;
    display: flex;
    font-weight: 500;
    font-size: 32px;
}

.movies__filter  {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.movies__filter--button {
    color: white;
    background-color: black;
    outline: none;
    border: none;
    padding: 12px 32px;
    margin-top: 12px;
}

.movies__filter--title {
    font-weight: 500;
    font-size: 24px;
}

.movies__catalog {
    margin: 0 auto;
    width: 100%;
}

.movies__list {
    position: relative;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.movie {
    width: calc(100% / 3);
    text-align: center;
    margin-bottom: 16px;
}

.movie--title {
    font-weight: 500px;
    font-size: 24px;
}

.movie--details {
    font-weight: 400;
    font-size: 16px;
    margin: 6px 0;
}

.movie__description {
    font-size: 18px;
    margin: 16px 0;
}

.movie__container--picture {
    height: 400px;
    width: 300px;
    border: 4px solid #343a40;
}

.movies__load--state {
    width: 100%;
}

.fa-spinner {
    animation: rotate 600ms infinite linear;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 36px;
    display: none;
    transform: translate(-50%, -50%);
}

.movies__loading--spinner {
    display: none !important;
}

.movies__loading {
    display: block !important;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}